/** Website template by freewebsitetemplates.com **/
body {
	margin :0;
	padding :0;
	background :url("../images/bowling.jpg");
	line-height :25px;
}
a {
	outline :0;
}
img {
	border :0;
}
@font-face {
	font-family :'NunitoRegular';
	src :url('../fonts/nunito-regular-webfont.eot');
	src :url('../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nunito-regular-webfont.woff') format('woff'),
		url('../fonts/nunito-regular-webfont.ttf') format('truetype'),
		url('../fonts/nunito-regular-webfont.svg#NunitoRegular') format('svg');
	font-weight :normal;
	font-style :normal;
}
@font-face {
	font-family :'Lobster1.4Regular';
	src :url('../fonts/lobster-webfont.eot');
	src :url('../fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lobster-webfont.woff') format('woff'),
		url('../fonts/lobster-webfont.ttf') format('truetype'),
		url('../fonts/lobster-webfont.svg#Lobster1.4Regular') format('svg');
	font-weight :normal;
	font-style :normal;
}
@font-face {
	font-family :'LimelightRegular';
	src :url('../fonts/limelight-webfont.eot');
	src :url('../fonts/limelight-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/limelight-webfont.woff') format('woff'),
		url('../fonts/limelight-webfont.ttf') format('truetype'),
		url('../fonts/limelight-webfont.svg#LimelightRegular') format('svg');
	font-weight :normal;
	font-style :normal;
}
#header {
	height :205px;
	width :100%;
	background :transparent url("../images/bg-navigation.png");
	background-repeat :repeat-x;
	background-position :bottom;
}
#header div {
	width :960px;
	margin :0 auto;
	height :203px;
	position :relative;
}
#header div a img {
	border :0;
	float :right;
	overflow :hidden;
}
#header div img.logo {
	border :0;
	float :left;
	overflow :hidden;
	margin-top :40px;
	margin-left: 200px; 
}
#logo
{
	margin-right: 50px;

}
#header div ul.navigation {
	margin :0;
	padding :0;
	list-style-type :none;
	position :absolute;
	left :0px;
	top :160px;
	overflow :hidden;
	width :600px;
}
#header div ul.navigation li {
	float :left;
}
#header div ul.navigation li:first-child a {
	padding-left :0;
}
#header div ul.navigation li a {
	text-decoration :none;
	padding :0 30px;
	color :#0000CC;
	font-family :'Lobster1.4Regular';
	font-size :30px;
	color :#0000CC;
	font-size :30px;
}
#header div ul.navigation li a:hover {
	color :#ebe9d7;
}
#header div ul.navigation li a.active {
	color :#FF0000;
}
#body {
	width :960px;
	margin :0 auto;
	overflow :hidden;
}
#body .featured {
	width :960px;
	overflow :hidden;
	margin-bottom :0;
}
#body .featured img {
	border :0;
}
#body .featured h2 {
	font-family :'Lobster1.4Regular';
	font-size :55px;
	color :#EF4047;
	display :block;
	font-weight :normal;
}

.featured
{
	padding-top:20px; 
}

#body .featured p {
	font-family :'NunitoRegular';
	font-size :18px;
	font-weight:bold; 
	color :#4c1407;
}
#body .featured p a {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#4c1407;
}
#body .featured p a:hover {
	color :#80210b;
}
#body .featured ul {
	list-style-type :none;
	margin :40px 0 0 0;
	padding :0;
}
#body .featured ul li {
	float :left;
	width :320px;
	height :242px;
	text-align :center;
}
#body .featured ul li {
	background-repeat :no-repeat;
	background-position :top;
	height :202px;
	width :280px;
	padding :8px 22px 22px 18px;
}
#body #content {
	width :960px;
	margin :30px 0;
	height :auto;
	padding-top :18px;
	background :transparent url("../images/bg-content-top.png");
	background-position :center top;
	background-repeat :no-repeat;
}
#body #content div {
	width :960px;
	background :transparent url("../images/bg-content-bottom.png");
	background-position :center bottom;
	background-repeat :no-repeat;
	padding-bottom :22px;
}
#body #content div div {
	width :860px;
	padding :10px 50px 20px 50px;
	background :transparent url("../images/bg-content.png");
	background-position :center center;
	background-repeat :repeat-y;
	opacity:0.8; 
}
#body #content div div h1 {
	font-family :'Lobster1.4Regular';
	font-size :54px;
	color :#EF4047;
	font-weight :normal;
	margin-bottom :50px;
}

#blue-third{
  background :transparent url("../images/aluminum-background.jpg");
  height: 200px;
  width: 100%; 
 
}

#body #content div div ul {
	list-style-type :none;
	margin :0;
	padding :0;
}
#body #content div div ul li {
	float :none;
	margin :0 0 50px 0;
	padding :0;
}
#body #content div div ul li h4 {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#822619;
	font-weight :normal;
}
#body #content div div ul li h2 {
	font-family :'Lobster1.4Regular';
	font-size :18px;
	color :#822619;
	font-weight :normal;
}
#body #content div div ul li h2 a {
	font-family :'Lobster1.4Regular';
	font-size :24px;
	color :#822619;
	text-decoration :none;
	font-weight :normal;
}
#body #content div div ul li p {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#00000;
	font-weight :bold;
}
#body #content div div ul li p a {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#822619;
	font-weight :normal;
	text-decoration :underline;
}
#body #content div div ul li p a:hover {
	color:#a0210b;
}
#body #content div div ul li p span {
	font-family :'NunitoRegular';
	font-size :14px;
	color :#822619;
	font-weight :normal;
}
#body #content div div ul li h2 a:hover {
	color :#80210b;
}
#body .content div div form label {
	display :block;
}
#body .content div div form label span {
	display :block;
	color :#4c1407;
	font-family :'NunitoRegular';
	font-size :16px;
	font-weight :normal;
}
#body .content div div form label input {
	/* background :transparent url("../images/interface.png") no-repeat 0 -77px; */
	width :286px;
	height :20px;
	border :0;
	padding :5px;
	margin-bottom :10px;
}
#body .content div div form label textarea {
	/* background :transparent url("../images/interface.png") no-repeat 0 -157px; */
	width :522px;
	height :206px;
	border :0;
	padding :5px;
	margin-bottom :5px;
}
#body .content div div form input[type="submit"] {
	background :transparent url("../images/button.png") no-repeat 0 -450px;
	width :101px;
	height :36px;
	border :0;
	padding :5px;
	margin-bottom :20px;
	cursor :pointer;
}
#body .content div div form input[type="submit"]:hover {
	background :transparent url("../images/button.png") no-repeat 0 -364px;
}
#body .content {
	width :620px;
	margin :30px 40px 30px 0;
	height :auto;
	padding-top :18px;
	background :transparent url("../images/bg-content-top2.png");
	background-position :center top;
	background-repeat :no-repeat;
	float :left;
}

#body .content div {
	width :620px;
	background :transparent url("../images/bg-content-bottom2.png");
	background-position :center bottom;
	background-repeat :no-repeat;
	padding-bottom :12px;
}
#body .content div div {
	width :540px;
	padding :10px 40px 20px 40px;
	background :transparent url("../images/bg-content2.png");
	background-position :center center;
	background-repeat :repeat-y;
	opacity:1;
}
#body .content div div h4 {
	font-size :24px;
	color :#822619;
	font-family :'Lobster1.4Regular';
	font-weight :normal;
}
#body .content div div p {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#4c1407;
	text-align :justify;
}
#body .content div div p a {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#4c1407;
}
#body .content div div #menupic
{
	z-index: -1; 
	opacity:1;
}
#body .content div div p a:hover {
	color :#EF4047;
}
#body .content div div h1 {
	font-family :'Lobster1.4Regular';
	font-size :40px;
	color :#EF4047;
	font-weight :normal;
}
#body .content div div ul {
	list-style-type :none;
	margin :0;
	padding :0;
	width :580px;
	margin-left :-22px;
}
#body .content div div ul li {
	margin-bottom :20px;
	border-style :dotted;
	border-top :none;
	border-left :none;
	border-right :none;
	padding :0 25px 10px 25px;
	position :relative;
}
#body .content div div ul li.last {
	border :none;
}
#body .content div div ul li h2 a {
	font-family :'Lobster1.4Regular';
	font-size :24px;
	color :#822619;
	font-weight :normal;
	text-decoration :none;
}
#body .content div div ul li p {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#822619;
	font-weight :normal;
	text-decoration :none;
	width :440px;
}
#body .content div div ul li p a {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#822619;
	font-weight :normal;
}
#body .content div div ul li p a:hover {
	font-family :'NunitoRegular';
	font-size :16px;
	color :#80210b;
	font-weight :normal;
}
#body .content div div ul li span.price {
	background :transparent url("../images/icon.png") no-repeat 0 -673px;
	width :90px;
	height :90px;
	display :block;
	text-align :center;
	line-height :50px;
	font-family :'LimelightRegular';
	color :#ebe9d7;
	font-size :20px;
	position :absolute;
	left :490px;
	top :0px;
}
#body .content div div div {
	background :none;
	text-align :center;
	width :530px;
	margin :0;
	padding :0;
}

#body .sidebar {
	width :280px;
	float :left;
	margin :30px 0;
	text-align :center;
	padding-top :30px;
}
#body .sidebar h1 {
	color :#EF4047;
	font-family :'Lobster1.4Regular';
	font-size :36px;
	font-weight :normal;
	margin-bottom :10px;
}
#body .sidebar span {
	color :#4c1407;
	font-family :'NunitoRegular';
	font-size :16px;
	font-weight :normal;
	display :block;
}
#body .sidebar ul.navigation {
	list-style-type :none;
	margin :50px 0 0 0;
	padding :0;
}
#body .sidebar ul.navigation li {
	border-style :solid;
	border-color :#822619;
	border-left :none;
	border-right :none;
	border-top :none;
	height :50px;
	line-height :50px;
}
#body .sidebar ul.navigation li.first {
	border-style :solid;
	border-color :#822619;
	border-left :none;
	border-right :none;
}
#body .sidebar ul.navigation li a {
	text-decoration :none;
	font-family :'LimelightRegular';
	font-size :32px;
	color :#822619;
	text-align :center;
	font-weight :normal;
}
#body .sidebar ul.navigation li a:hover {
	color :#FACE36;
	font-size :32px;
	font-family :'LimelightRegular';
}
#body .sidebar ul.navigation li a.active {
	color :#1E4699;
	font-size :32px;
	font-family :'LimelightRegular';
}
#body .sidebar a.download {
	background :transparent url("../images/button.png") no-repeat 0 -96px;
	display :block;
	height :46px;
	width :278px;
	line-height :46px;
	text-decoration :none;
	color :#ebe9d7;
	font-size :26px;
	font-family :'Lobster1.4Regular';
	margin-top :40px;
}
#body .sidebar a.download:hover {
	background :transparent url("../images/button.png") no-repeat 0 0;
}
#body .sidebar ul li.last {
	border-bottom :none;
}
#body .sidebar ul {
	list-style-type :none;
	margin :0 0 50px 0;
	padding :0;
}
#body .sidebar ul li.first {
	border-style :dotted;
	border-color :#822619;
	border-left :none;
	border-right :none;
	border-top :dotted;
}
#body .sidebar ul li {
	border-style :dotted;
	border-color :#822619;
	border-left :none;
	border-right :none;
	border-top :none;
	line-height :18px;
	padding :10px 10px;
	font-family :'NunitoRegular';
}
#body .sidebar ul li a {
	font-family :'NunitoRegular';
	text-decoration :none;
	color :#3e1c14;
	font-size :16px;
}
#body .sidebar ul li a:hover {
	font-family :'NunitoRegular';
	text-decoration :none;
	color :#1B6568;
	font-size :16px;
}
#body .sidebar ul {
	margin-top :30px;
}
#menu-list li 
{ 
	display:inline;
    padding: 20px 40px;
	margin-left:10px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    right: 290px;
    font-size:60px;
    font-family: 'Lobster1.4Regular';
    color:#822619;

}
#Order-Box
{
	position: absolute;
   	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	height:70px;
	width: 220px;
	background-color:#FCCF34;
	font-size:25px;
	text-align: center;
	color:white;
	margin:0;
	display: flex;
	font-family: 'Fontdiner';
	font-weight: bold;
    align-items: center;
    justify-content: center;
    opacity:0.8;

}
#body div#section {
	float :left;
	height :auto;
	margin :30px 40px 30px 0;
	padding-top :18px;
	width :620px;
}
#body div#section div.section {
	background :transparent url("../images/bg-blog-top.png");
	background-repeat :no-repeat;
	background-position :top center;
	width :532px;
	padding-top :18px;
	margin :0 0 50px 0;
	position :relative;
	left :20px;
	float :right;
}
#body div#section div.section div {
	background :transparent url("../images/bg-blog-bottom.png");
	background-repeat :no-repeat;
	background-position :center bottom;
	width :532px;
	padding-bottom :25px;
}
#body div#section div.section div div {
	background :transparent url("../images/bg-blog-center.png");
	background-repeat :repeat-y;
	background-position :center;
	width :452px;
	padding :10px 40px 10px 40px;
}
#body div#section div.section div div a img {
	border :0;
	margin :0 20px 0 0;
	float :left;
}
#body div#section div.section div div h2 {
	font-family :'LimelightRegular';
	color :#1b6568;
	font-size :28px;
	font-weight :normal;
	margin :0;
	padding :0;
	text-transform :uppercase;
	width :auto;
}
#body div#section div.section div div h2 a {
	font-family :'LimelightRegular';
	color :#822619;
	font-size :28px;
	font-weight :normal;
	text-decoration :none;
	line-height :30px;
}
#body div#section div.section div div h2 a:hover {
	color :#1b6568;
	text-decoration :none;
}
#body div#section div.section div div h3 {
	font-family :'NunitoRegular';
	color :#4c1407;
	font-size :14px;
	font-weight :normal;
	margin :25px 0 0 0;
	padding :0;
	width :auto;
}
#body div#section div.section div div h3 a {
	color :#80210b;
	text-decoration :underline;
}
#body div#section div.section div div a {
	text-decoration :underline;
	color :#80210b;
}
#body div#section div.section div div a:hover {
	text-decoration :underline;
}
#body div#section div.section div div a span {
	font-family :'NunitoRegular';
	color :#80210b;
	font-size :14px;
	font-weight :normal;
	padding :0;
	width :auto;
}
#body div#section div.section div div p {
	font-family :'NunitoRegular';
	color :#4c1407;
	font-size :14px;
	width :auto;
	margin-top :70px;
}
#body div#section div.section div div a.price {
	background :transparent url("../images/icon.png") no-repeat 0 0;
	width :90px;
	height :90px;
	display :block;
	padding-top :20px;
	text-align :center;
	font-family :'LimelightRegular';
	font-size :45px;
	color :#ebe9d7;
	text-decoration :none;
	position :absolute;
	top :0;
	left :-10px;
}
#body div#section div.section div div a.price span {
	display :block;
	font-family :'LimelightRegular';
	font-size :40px;
	color :#ebe9d7;
}
#footer {
	height :150px;
	width :100%;
	padding :20px 0;
	margin-top :20px;
	background :transparent url("../images/bg-navigation.png");
	background-repeat :repeat-x;
	background-position :top;
	background-color :#1E4699;
}
.footer {
 position: relative;
 bottom: 0;
 width: 100%;
}
#body {
   
   min-height: 1000px;
   margin-bottom: 100px;
   clear: both;
}
html, body {
 height: 100%;
}

ul#navigation {
 position: fixed;
 bottom: 0;
 width: 100%;
}

#footer div {
	width :960px;
	margin :0 auto;
}
#footer div ul {
	list-style-type :none;
	margin :0;
	padding :0;
}
#footer div ul li.first {
	text-align :left;
	margin-top: 20px; 
}
#footer div ul li img {
	border :0;
}
#footer div ul li {
	float :left;
	width :400px;
	padding :0 5px;
	text-align :center;
}
#footer div ul li.last {
	padding-left :75px;
	width :250px;
}
#footer div ul li h2 {
	color :#ebe9d7;
	font-family :'Lobster1.4Regular';
	font-weight :normal;
	font-size :18px;
	margin :10px 0;
	padding :0;
}
#footer div ul li h3 {
	color :#ebe9d7;
	font-family :'Lobster1.4Regular';
	font-size :24px;
	font-weight :normal;
	margin :10px 0;
	padding :0;
}
#footer div ul li ul {
	list-style-type :none;
	margin :0;
	padding :0;
}
#footer div ul li img.logo {
	padding:30px; 
	
}
#footer div ul li ul li {
	float :left;
	width :auto;
	margin :0 5px;
	padding :0;
}
#footer div ul li ul .connect li {
	float :left;
	width :auto;
	margin :0 5px;
	padding :0;
}
#footer div ul li ul li a.facebook {
	background :transparent url("../images/icon.png") no-repeat 0 -228px;
	float :left;
	height :39px;
	width :39px;
}
#footer div ul li ul li a.facebook:hover {
	background :transparent url("../images/icon.png") no-repeat 0 -139px;
}
#footer div ul li ul li a.twitter {
	background :transparent url("../images/icon.png") no-repeat 0 -584px;
	float :left;
	height :39px;
	width :39px;
}
#footer div ul li ul li a.twitter:hover {
	background :transparent url("../images/icon.png") no-repeat 0 -495px;
}
#footer div ul li ul li a.googleplus {
	background :transparent url("../images/icon.png") no-repeat 0 -406px;
	float :left;
	height :39px;
	width :92px;
}
#footer div ul li ul li a.googleplus:hover {
	background :transparent url("../images/icon.png") no-repeat 0 -317px;
}
#footer div ul li input[type="submit"] {
	background :transparent url("../images/button.png") no-repeat 0 -278px;
	width :215px;
	height :36px;
	border :0;
	cursor :pointer;
}
#footer div ul li input[type="submit"]:hover {
	background :transparent url("../images/button.png") no-repeat 0 -192px;
}
#footer div ul li input {
	background :transparent url("../images/interface.png") no-repeat 0 0;
	border :0;
	width :220px;
	height :17px;
	padding :5px 5px;
	text-align :center;
	font-family :'NunitoRegular';
	font-size :12px;
	margin-bottom :10px;
}
#footer div ul li span {
	display :block;
	color :#ebe9d7;
	font-family :'NunitoRegular';
	font-size :14px;
}
#footer div ul li ul.navigation {
	list-style-type :none;
	margin :0 auto;
	text-align:center; 
	display :inline-block;
	overflow :hidden;
	height :20px;
}
#footer div ul li ul.navigation li {
	margin :0;
	padding :0;
}
#footer div ul li ul.navigation li a {
	color :#ebe9d7;
	font-family :'NunitoRegular';
	font-weight :normal;
	font-size :20px;
	text-decoration :none;
	padding :0 10px;
	display :block;
	border-style :solid;
	border-right :none;
	border-top :none;
	border-bottom :none;
	border-color :#ebe9d7;
	border-width :1px;
	line-height :20px;
}
#footer div ul li ul.navigation li a:hover {
	text-decoration :underline;
}
#footer div ul li ul.navigation li:first-child a {
	border-left :none;
}
.shopping-cart {
    width: 750px;
    height: 1000px;
    margin: 120px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 140px;
    display: flex;
}
.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
.quantity {
    margin-left: 580px;
    margin-top: -30px;
}
.headerColor{
    background-color:#b70e0e;
    font-weight:200;
    color:white;
	width:630px;
	text-align: left;
}
.fontBold{
    font-weight:bold; 
}
.fontDescription{
    word-wrap:break-word;
}
.displayMain {   
 border-color:dimgrey;
 border-style:solid;

}
.txtNoItem {
    text-align:center;
    font-weight:bold;
    font-style:italic;
}
#txtNotes, #txtFirstComment {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    resize: none;
}
.txtAlign {
    text-align: left;
}
.txtRightAlign{
    text-align:right;
}
.cart
{
    text-align:left !important;
}
.cart #tblCartDesc
{
    background-color: lightgray;
}

.cart tr {
    display: flex;
    flex-direction: row;
    border-bottom: dotted 1px;
	border-bottom-color: gray;
	
}

#cartPricing td {
    text-align: left !important;
}
#btnBag, #btnAddToBag, #btnProceed {
    padding: 8px 0 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    color: white;
    background: -moz-linear-gradient(top, #20abd0 0%, #1285b9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20abd0), color-stop(100%,#1285b9));
    background: -webkit-linear-gradient(top, #20abd0 0%,#1285b9 100%);
    background: -o-linear-gradient(top, #20abd0 0%,#1285b9 100%);
    //background: -ms-linear-gradient(top, #20abd0 0%,#1285b9 100%);
    background: linear-gradient(to bottom, #20abd0 0%,#1285b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20abd0', endColorstr='#1285b9',GradientType=0 );
    border: 1px solid #0887b1;
}

.navbar a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 900;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left:0;
    top: 0;
    width: 100%;    
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
   
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 55%;
    height: 58%;
    left: 0;
    top: 0;
    overflow-x: auto;
    overflow-y: auto;
    font-size:14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    -webkit-border-radius: 10px ;
    -moz-border-radius: 0px ;
    border-radius: 10px ; 
}
#tblPopUp {
    width: 100%;
    border-right: dotted 1px;
    border-right-color: gray;
    border-bottom: dotted 1px;
    border-bottom-color: gray;
   // float: left;
}
/*#tblPopUp tr{	
	border-bottom: dotted 1px;
    border-bottom-color: gray;

}*/
.btnStyle
{
    width:10px;
    border-radius:5px;
  
}

#modalItemQty {
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    width: 27px;
    text-align: center;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}
.ExtraStyle{
   display:inline-block;
    flex-direction:column;
   
} 

#trPopupHeader {
    min-height: 24px;
    padding: 0 20px;
    position: relative;
    color: white;
    font-size: 16px;
    width: 100%;
    background: #c02704;
    border-radius: 10px 10px 0px 0px;
}
/*#btnDecrement {
    background: url(../images/item/btn_minus.png) 0 0 no-repeat;
}*/

#divMenuImg {
    float: right;
    margin-top: 4%;
}

.tdWidth{
    width:100%;
}

   
#btnAddToBag{
	
	margin-top: 15px;
	height:40px;  
    width:530px;
}
/* The Close Button */
.close {
  //  color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    width:35px;
    border-radius:5px;
}

.borderBottom{

	border-bottom:  5px solid red;

}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*New code*/

.tblDesc tr {
    display: flex;
    flex-direction: row;   
    border-bottom: dotted 1px;
    border-bottom-color: gray;

}
#trBurgerItems {
    display: flex;
    flex-direction: row;
}
.paddingBurger{
    padding-left:5px;
    padding-top:5px;
}
.burgerStyle{
    margin-left:5px;
} 


.tblDesc td {
    text-align: left !important;
}

/* textaarea align*/
textarea {
    vertical-align: top;
}

#btnProceed {
    background-color: #4CAF50;
    font-size: 14px;
}

#btnCancel {
    background-color: #4CAF50;
    font-size: 14px;
}
a:hover { 
    background-color: gray;
}

#trCustomStyle {
    background-color: lightgray;
}
.leftBar {
    position: absolute;
    left: 0;
    top: 210px;
    width: 255px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    margin-left: 1%;
    font-size: 16px;
}